.btn {
    background-color: var(--clr-accent);
    color: var(--clr-light);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: var(--ff-medium);
    border-radius: 6px;
    cursor: pointer;
    padding: 11px 25px;
}

@media (max-width: 768px) {
    .btn {
        font-size: 16px;
    }
}